@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{ 
	var selection = CurrentPage.Ancestors(); 
}

@if (selection.Any())
{
    <ol class="breadcrumb breadcrumb-2">

        @foreach (var item in selection.OrderBy("Level"))
        {
            if (item.DocumentTypeAlias != "DropdownMenu")
            {
                <li><a href="@item.Url">@item.Name</a></li>
            }
            else
            {
                <li><a href="javascript:void(0)">@item.Name</a></li>
            }

        }

        <li class="active">@CurrentPage.Name</li>
    </ol>
}
