@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div class="nav-container">
    <a id="top"></a>
    <nav class="bg-dark">        
        <div class="nav-bar">
            <div class="module left">
                <a href="index.html">
                    <img class="logo logo-light" alt="Foundry" src="img/logo-light.png" />
                    <img class="logo logo-dark" alt="Foundry" src="img/logo-dark.png" />
                </a>
            </div>
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group right">
                <div class="module left">
                    <ul class="menu">
                        <li class="has-dropdown">
                            <a href="#">
                                Info
                            </a>
                            <ul class="mega-menu">
                                <li>
                                    <ul>
                                        <li>
                                            <a href="home-adventure.html">Om Jobish</a>
                                        </li>
                                        <li>
                                            <a href="home-agency.html">Ledige</a>
                                        </li>
                                        <li>
                                            <a href="home-app-landing.html">Erhverv</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        
                        <li>
                            <a href="#">
                                Blog
                            </a>                           
                        </li>
                        <li>
                            <a href="#">
                                FAQ
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Kontakt
                            </a>
                        </li>
                        
                         
                    </ul>
                </div>
                <!--end of menu module-->
                <div class="module widget-handle search-widget-handle left">
                    <div class="search">
                        <i class="ti-search"></i>
                        <span class="title">Search Site</span>
                    </div>
                    <div class="function">
                        <form class="search-form">
                            <input type="text" placeholder="Type Here" />
                        </form>
                    </div>
                </div>
              
                <div class="module widget-handle language left">
                    <ul class="menu">
                        <li class="has-dropdown">
                            <a href="#">Login / Register</a>
                            <ul>
                                <li>
                                    <a href="#">Login</a>
                                </li>
                                <li>
                                    <a href="#">Register</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!--end of module group-->
        </div>
    </nav>
</div>
