@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Foundry Multi-purpose HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.9">
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/themify-icons.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/flexslider.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/ytplayer.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
</head>
<body>
    
    @{Html.RenderPartial("_Navigation");}

    <div class="main-container">

        @RenderBody();

    </div>
    <script src="~/scripts/vendor/jquery.min.js"></script>
    <script src="~/scripts/vendor/bootstrap.min.js"></script>
    <script src="~/scripts/vendor/flexslider.min.js"></script>
    <script src="~/scripts/vendor/lightbox.min.js"></script>
    <script src="~/scripts/vendor/masonry.min.js"></script>
    <script src="~/scripts/vendor/twitterfetcher.min.js"></script>
    <script src="~/scripts/vendor/spectragram.min.js"></script>
    <script src="~/scripts/vendor/ytplayer.min.js"></script>
    <script src="~/scripts/vendor/countdown.min.js"></script>
    <script src="~/scripts/vendor/smooth-scroll.min.js"></script>
    <script src="~/scripts/vendor/parallax.js"></script>
    <script src="~/scripts/plugins.js"></script>
    <script src="~/scripts/main.js"></script>
</body>
</html>