@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";
}

<section class="page-title page-title-1 image-bg overlay parallax">
    <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="~/img/cover11.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="uppercase mb0">@CurrentPage.Name</h2>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
    
    @{Html.RenderPartial("_Breadcrumb");}

</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2 class="number">2008</h2>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                </p>
            </div>
            <div class="col-sm-4">
                <h2 class="number">150+</h2>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Fremtid</h2>
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<hr class="mb0">
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h5 class="uppercase">
                    <strong>Overskrift</strong>
                </h5>
            </div>
            <div class="col-md-3 col-sm-6 mb64 mb-xs-24">
                <p class="mb0">
                    Strive for the perfect balance
                    <br /> between form and function.
                </p>
            </div>
            <div class="col-md-3 col-sm-6 mb64 mb-xs-24">
                <p class="mb0">
                    Communicate with clarity, be complex
                    <br /> but never complicated.
                </p>
            </div>
            <div class="col-md-3 col-sm-6 mb64 mb-xs-24">
                <p class="mb0">
                    Constructive collegiality is key
                    <br /> to the stimulation of ideas.
                </p>
            </div>
            <div class="col-md-3 col-sm-6 col-md-offset-3 mb-xs-24">
                <p class="mb0">
                    Question standard norms before
                    <br /> choosing to obey them.
                </p>
            </div>
            <div class="col-md-3 col-sm-6 mb-xs-24">
                <p class="mb0">
                    Embrace the difficult decision
                    <br /> that drive creativity forward.
                </p>
            </div>
            <div class="col-md-3 col-sm-6">
                <p class="mb0">
                    Trust in collaboration
                    <br /> the hallmark of our work.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<hr class="mb0">
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <h5 class="uppercase">
                    <strong>Team</strong>
                </h5>
            </div>
            <div class="col-md-9 col-sm-12 mb40 mb-xs-24 p0">
                <div class="col-sm-7 mb64 mb-xs-24">
                    <img alt="Pic" src="~/img/team-1.jpg" />
                </div>
                <div class="col-sm-5 mb64 mb-xs-24">
                    <h5 class="uppercase mb0">Sally Marsh</h5>
                    <span class="inline-block mb40 mb-xs-24">Creative Director</span>
                    <p>
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.
                    </p>
                </div>
            </div>
            <div class="col-md-9 col-md-push-3 col-sm-12 mb40 mb-xs-24 p0">
                <div class="col-sm-7 mb64 mb-xs-24">
                    <img alt="Pic" src="~/img/team-2.jpg" />
                </div>
                <div class="col-sm-5 mb64 mb-xs-24">
                    <h5 class="uppercase mb0">Tim Foley</h5>
                    <span class="inline-block mb40 mb-xs-24">Brand Director</span>
                    <p>
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.
                    </p>
                </div>
            </div>
            
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="image-bg overlay parallax">
    <div class="background-image-holder">
        <img alt="Background" class="background-image" src="~/img/cover10.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4 class="uppercase mb16">Klar til at blive medlem?</h4>
                <p class="lead mb64">
                Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                </p>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-12 text-center">
                <a class="btn" href="#">Opret</a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
