@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "_Layout.cshtml";

}


<section class="cover fullscreen image-slider slider-all-controls controls-inside parallax">
    <ul class="slides">
        <li class="overlay image-bg">
            <div class="background-image-holder">
                <img alt="image" class="background-image" src="~/media/dude-walkin.jpg" />
            </div>
            <div class="container v-align-transform">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                        <h1>Elit fusce vel sapien elit in malesuada.</h1>
                        <p class="lead mb48">
                            Ut fusce varius nisl ac ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
                        </p>
                        <form class="form-newsletter thirds" data-success="Thanks for your submission, we will be in touch shortly." data-error="Please fill all fields correctly.">
                            <input type="text" name="name" class="validate-required signup-name-field" placeholder="Din Email" />
                            <input type="text" name="email" class="validate-required validate-email  signup-email-field" placeholder="Dit Kodeord" />
                            <input type="submit" value="Log Ind" />
                            <p class="sub text-center">
                                Har du glemt dit kodeord?
                                <a href="#">Nulstil her.</a>
                            </p>
                        </form>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </li>
    </ul>
</section>
<!-- ABOUT -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h3 class="mb64 mb-xs-24">
                    Diversity and difference are our guiding principles.
                    <br /> Our approach is tailored and unique to each client.
                </h3>
                <div class="tabbed-content button-tabs">
                    <ul class="tabs">
                        <li class="active">
                            <div class="tab-title">
                                <span>History</span>
                            </div>
                            <div class="tab-content">
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="tab-title">
                                <span>Approach</span>
                            </div>
                            <div class="tab-content">
                                <p>
                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="tab-title">
                                <span>Culture</span>
                            </div>
                            <div class="tab-content">
                                <p>
                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="tab-title">
                                <span>Method</span>
                            </div>
                            <div class="tab-content">
                                <p>
                                    Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--end of button tabs-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!-- SLIDER POST-->
<section class="p0">
    <div class="containr">
        <div class="row">
            <div class="col-md-4 col-sm-6 p0">
                <div class="image-tile inner-title hover-reveal text-center mb0">
                    <img alt="Pic" src="img/team-1.jpg" />
                    <div class="title">
                        <h5 class="uppercase mb0">Sally Marsh</h5>
                        <span>Creative Director</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 p0">
                <div class="image-tile inner-title hover-reveal text-center mb0">
                    <img alt="Pic" src="img/team-2.jpg" />
                    <div class="title">
                        <h5 class="uppercase mb0">Tim Foley</h5>
                        <span>iOS Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 p0">
                <div class="image-tile inner-title hover-reveal text-center mb0">
                    <img alt="Pic" src="img/team-3.jpg" />
                    <div class="title">
                        <h5 class="uppercase mb0">Jake Robbins</h5>
                        <span>Brand Director</span>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!-- COUNTER-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="uppercase">
                    Creating Vibrant
                    <br> Spaces &amp; Communites
                </h3>
            </div>
        </div>
        <!--end of row-->
        <div class="row mb80 mb-xs-24">
            <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 text-center">
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia.
                </p>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1 text-center">
                <div class="feature boxed">
                    <h1 class="large">64</h1>
                    <h5 class="uppercase">Award Winning Projects</h5>
                </div>
            </div>
            <div class="col-sm-5 text-center">
                <div class="feature boxed">
                    <h1 class="large">#3</h1>
                    <h5 class="uppercase">Architects Australia</h5>
                </div>
            </div>
        </div>
    </div>
    <!--end of container-->
</section>
<!-- ABOUT -->
<section class="image-square left bg-secondary pb-sm-64">
    <div class="col-md-6 image">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="img/home17.jpg" />
        </div>
    </div>
    <div class="col-md-6 col-md-offset-1 content">
        <h3>Build a slick, modern site faster than ever before.</h3>
        <p class="mb0">
            Foundry is a remarkably complete template offering you a plethora of handcrafted design elements. Whether promoting a product, service or portfolio - Foundry's unique and flexible style has you covered.
        </p>
    </div>
</section>
<!-- ABOUT2-->
<section class="image-square right bg-secondary pb-sm-64">
    <div class="col-md-6 image">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="img/home15.jpg" />
        </div>
    </div>
    <div class="col-md-6 content">
        <h3>Start building beautiful pages directly in your browser.</h3>
        <p class="mb0">
            Foundry is your complete design toolkit, built from the ground up to be flexible, extensible and stylish. Building slick, contemporary sites has never been this easy!
        </p>
    </div>
</section>
<!-- CALL TO ACTION -->
<section class="image-bg overlay parallax">
    <div class="background-image-holder">
        <img alt="Background" class="background-image" src="~/img/cover10.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4 class="uppercase mb16">Klar til at blive medlem?</h4>
                <p class="lead mb64">
                    Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                </p>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-sm-12 text-center">
                <a class="btn" href="#">Opret</a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>


