<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT AboutPage ANY>
<!ATTLIST AboutPage id ID #REQUIRED>
<!ELEMENT Blog ANY>
<!ATTLIST Blog id ID #REQUIRED>
<!ELEMENT BlogPage ANY>
<!ATTLIST BlogPage id ID #REQUIRED>
<!ELEMENT ContactPage ANY>
<!ATTLIST ContactPage id ID #REQUIRED>
<!ELEMENT DropdownMenu ANY>
<!ATTLIST DropdownMenu id ID #REQUIRED>
<!ELEMENT Faq ANY>
<!ATTLIST Faq id ID #REQUIRED>
<!ELEMENT FrontPage ANY>
<!ATTLIST FrontPage id ID #REQUIRED>
<!ELEMENT LoginPage ANY>
<!ATTLIST LoginPage id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT RegisterPage ANY>
<!ATTLIST RegisterPage id ID #REQUIRED>

]>
<root id="-1">
  <FrontPage id="1050" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-08-19T23:08:25" updateDate="2015-08-19T23:08:25" nodeName="Jobish" urlName="jobish" path="-1,1050" isDoc="" nodeType="1047" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="1049" nodeTypeAlias="FrontPage">
    <showInNavigation>0</showInNavigation>
    <companyName><![CDATA[Jobish]]></companyName>
    <DropdownMenu id="1056" parentID="1050" level="2" creatorID="0" sortOrder="0" createDate="2015-08-20T10:53:33" updateDate="2015-08-20T19:47:00" nodeName="Info" urlName="info" path="-1,1050,1056" isDoc="" nodeType="1052" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="1054" nodeTypeAlias="DropdownMenu">
      <showInNavigation>1</showInNavigation>
      <AboutPage id="1057" parentID="1056" level="3" creatorID="0" sortOrder="0" createDate="2015-08-20T10:54:07" updateDate="2015-08-20T10:54:07" nodeName="Om Jobish" urlName="om-jobish" path="-1,1050,1056,1057" isDoc="" nodeType="1055" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="1054" nodeTypeAlias="AboutPage">
        <showInNavigation>1</showInNavigation>
      </AboutPage>
      <AboutPage id="1058" parentID="1056" level="3" creatorID="0" sortOrder="1" createDate="2015-08-20T10:54:19" updateDate="2015-08-20T10:54:19" nodeName="Ledig" urlName="ledig" path="-1,1050,1056,1058" isDoc="" nodeType="1055" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="1054" nodeTypeAlias="AboutPage">
        <showInNavigation>1</showInNavigation>
      </AboutPage>
      <AboutPage id="1059" parentID="1056" level="3" creatorID="0" sortOrder="2" createDate="2015-08-20T10:54:28" updateDate="2015-08-20T10:54:28" nodeName="Erhverv" urlName="erhverv" path="-1,1050,1056,1059" isDoc="" nodeType="1055" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="1054" nodeTypeAlias="AboutPage">
        <showInNavigation>1</showInNavigation>
      </AboutPage>
    </DropdownMenu>
    <Blog id="1064" parentID="1050" level="2" creatorID="0" sortOrder="1" createDate="2015-08-20T10:56:11" updateDate="2015-08-20T10:56:11" nodeName="Blog" urlName="blog" path="-1,1050,1064" isDoc="" nodeType="1061" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="1060" nodeTypeAlias="Blog">
      <showInNavigation>1</showInNavigation>
      <BlogPage id="1069" parentID="1064" level="3" creatorID="0" sortOrder="0" createDate="2015-08-20T12:23:14" updateDate="2015-08-20T12:23:14" nodeName="Blog Page" urlName="blog-page" path="-1,1050,1064,1069" isDoc="" nodeType="1068" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="1067" nodeTypeAlias="BlogPage">
        <showInNavigation>0</showInNavigation>
      </BlogPage>
    </Blog>
    <Faq id="1065" parentID="1050" level="2" creatorID="0" sortOrder="2" createDate="2015-08-20T10:56:23" updateDate="2015-08-20T10:56:23" nodeName="FAQ" urlName="faq" path="-1,1050,1065" isDoc="" nodeType="1063" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="1062" nodeTypeAlias="Faq">
      <showInNavigation>1</showInNavigation>
    </Faq>
    <ContactPage id="1066" parentID="1050" level="2" creatorID="0" sortOrder="3" createDate="2015-08-20T10:56:37" updateDate="2015-08-20T10:56:37" nodeName="Kontakt" urlName="kontakt" path="-1,1050,1066" isDoc="" nodeType="1051" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="1053" nodeTypeAlias="ContactPage">
      <showInNavigation>1</showInNavigation>
    </ContactPage>
    <DropdownMenu id="1074" parentID="1050" level="2" creatorID="0" sortOrder="4" createDate="2015-08-20T13:41:55" updateDate="2015-08-20T13:50:59" nodeName="Login / Registrer" urlName="login-registrer" path="-1,1050,1074" isDoc="" nodeType="1052" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="1054" nodeTypeAlias="DropdownMenu">
      <showInNavigation>0</showInNavigation>
      <LoginPage id="1075" parentID="1074" level="3" creatorID="0" sortOrder="0" createDate="2015-08-20T13:45:29" updateDate="2015-08-20T13:45:29" nodeName="Log Ind" urlName="log-ind" path="-1,1050,1074,1075" isDoc="" nodeType="1071" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="1070" nodeTypeAlias="LoginPage">
        <showInNavigation>1</showInNavigation>
      </LoginPage>
      <RegisterPage id="1076" parentID="1074" level="3" creatorID="0" sortOrder="1" createDate="2015-08-20T13:45:45" updateDate="2015-08-20T13:45:45" nodeName="Registrer" urlName="registrer" path="-1,1050,1074,1076" isDoc="" nodeType="1073" creatorName="Johnny Kristensen" writerName="Johnny Kristensen" writerID="0" template="1072" nodeTypeAlias="RegisterPage">
        <showInNavigation>1</showInNavigation>
      </RegisterPage>
    </DropdownMenu>
  </FrontPage>
</root>